<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Answers</title>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Navbar que comen, mas comelon, producto favorito -->

      <div class="row pb-4">
        <div class="col">

          <div class="row">
            <div class="col">
              <h2>Que comen en la oficina?</h2>
            </div>
          </div>

          <div class="row flex-row flex-wrap">
            {% for name in names %}
            <div class="col">
              <h3> {{ name }}</h3>
                <ul>
                {% for product in name.products.all %}
                <li>{{product}} </li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>

      <div class="row pb-4">
        <div class="col">
          <h2>Quien come mas?</h2>
          {{ ate_the_most }}
        </div>
      </div>

      <div class="row pb-4">
        <div class="col">
          <h2>Cual es el producto que mas se come?</h2>
          {{ most_consumed }}
        </div>
      </div>

    </div>
  </body>
</html>
