{% extends 'polls/base.html' %}
{% load poll_extras %}

  {% block content %}
      <div class="row pb-4">
        <div class="col">


          <div class="row">
            <div class="col">
              <h2>Que comen en la oficina?</h2>
            </div>
          </div>

          <div class="row flex-row flex-wrap">
            {% for name in names %}
            <div class="col">
              <h3> {{ name }}</h3>
                <ul>
                  {% for product in consumption|filter_by_member:name %}
                  <!-- product devuelve un diccionario, como hacer para que devuelva el valor nada mas -->
                <li>  {{product }}  </li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>

      <div class="row pb-4">
        <div class="col">
          <h2>Quien come mas?</h2>
         {{ ate_the_most }}
        </div>
      </div>

      <div class="row pb-4">
        <div class="col">
          <h2>Cual es el producto que mas se come?</h2>
          {{ most_consumed }}
        </div>
      </div>

      <div class="row pb-4">
        <div class="col">
          <h2>Tienes hambre?</h2>
          <a href="{% url 'eat' %}">Come</a>
        </div>
      </div>
  {% endblock %}
