{% extends 'polls/base.html' %}

  {% block content %}
  <!-- Choose person -->
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Miembro de Monoku</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Nombre...</option>
          {% for name in names %}
          <option value="1" id="team-member">{{ name }}</option>
          {% endfor %}
        </select>
      </div>

  <!-- Choose product

      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">Productos</label>
        </div>
        <select class="custom-select" id="inputGroupSelect02">
          <option selected>Nombre...</option>
          {#  {% for product in Product.objects.filter(team_member__name=#Team-member) %} #}
            <option value="1"> {{ product }}</option>
        {#    {% endfor %} #}
        </select>
      </div>

    </div>
  </div>
-->

  {% endblock %}
